In [1]:
squared_integers = [i**2 for i in range(1,100001)]

In [ ]:
def max_two_numbers(x,y):
    if (x > y):
      return x
    else:
      return y

In [ ]:
import pandas as pd
df = pd.read_csv("./test.csv")
df2 = pd.read_csv("./train.csv")

In [ ]:
row = df.shape[0]
col = df.shape[1]
print(f"The test dataset has {row} rows and {col} columns")

The test dataset has 418 rows and 11 columns

In [ ]:
df2.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
df2['Age'].min()

0.42

In [ ]:
df2['Age'].max()

80.0

In [ ]:
df2['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
df2[['Pclass','Fare']].groupby('Pclass').mean()

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

In [ ]:
round(84.154687,2)

84.15

In [ ]:
round(20.662183,2)

20.66

In [ ]:
round(13.675550,2)

13.68

In [ ]:
import re
title_count = {}
for i in df2['Name']:
  title = re.findall("([A-Z][a-z]+)\.",i)
  key = ''.join(title)
  if (key in title_count):
    title_count[key] += 1
  else:
    title_count[key] = 1

print(title_count)

{'Mr': 517, 'Mrs': 125, 'Miss': 182, 'Master': 40, 'Don': 1, 'Rev': 6, 'Dr': 7, 'Mme': 1, 'Ms': 1, 'Major': 2, 'Lady': 1, 'Sir': 1, 'Mlle': 2, 'Col': 2, 'Capt': 1, 'Countess': 1, 'Jonkheer': 1}